In [176]:
import pandas as pd
import numpy as np
df= pd.read_csv('/Users/ankit/Desktop/Springboard dox/Python/2018_less.csv',low_memory=False)

In [177]:
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9998 entries, 0 to 9997
Columns: 150 entries, id to settlement_term
dtypes: float64(63), int64(57), object(30)
memory usage: 11.4+ MB
None

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,145217616,NaN,10000,10000,10000,36 months,10.33%,324.23,B,B1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,145248657,NaN,4000,4000,4000,36 months,23.4%,155.68,E,E1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,145638579,NaN,5000,5000,5000,36 months,17.97%,180.69,D,D1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,145592722,NaN,23000,23000,23000,60 months,20.89%,620.81,D,D4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,144858623,NaN,8000,8000,8000,36 months,23.4%,311.35,E,E1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [178]:
print(df.shape)

(9998, 150)

In [179]:
#Drop columns with data NaN

In [180]:
df=df.dropna(axis=1)

In [181]:
df.shape

(9998, 89)

In [182]:
df.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,...,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,145217616,10000,10000,10000,36 months,10.33%,324.23,B,B1,MORTGAGE,...,4,91.3,0,0,367828,61364,20900,54912,N,N
1,145248657,4000,4000,4000,36 months,23.4%,155.68,E,E1,RENT,...,9,95.0,0,0,98655,66926,21900,71555,N,N
2,145638579,5000,5000,5000,36 months,17.97%,180.69,D,D1,MORTGAGE,...,0,100.0,0,0,136927,11749,13800,10000,N,N
3,145592722,23000,23000,23000,60 months,20.89%,620.81,D,D4,RENT,...,3,100.0,0,0,7500,976,3300,0,N,N
4,144858623,8000,8000,8000,36 months,23.4%,311.35,E,E1,OWN,...,2,100.0,1,0,199744,31078,2300,32206,N,N

In [184]:
#rename the column names

df = df.rename(columns={"loan_amnt": "loan_amount", "funded_amnt": "funded_amount", "funded_amnt_inv": "investor_funds",
                       "int_rate": "interest_rate", "annual_inc": "annual_income"})

In [185]:
df.head()
print(type(df['interest_rate'][0]))

<class 'str'>

In [190]:
#removing percentage sign from the interest_rate
df.interest_rate = df.interest_rate.str.replace('%', '')
print(df.interest_rate.head())

0    10.33
1     23.4
2    17.97
3    20.89
4     23.4
Name: interest_rate, dtype: object

In [191]:
#remove months from term colums
df.term = df.term.str.replace('months', '')
df.term.head()

0    36
1    36
2    36
3    60
4    36
Name: term, dtype: object

In [108]:
#selecting unique column as index

df['id'].is_unique

True

In [112]:
df.set_index('id')

,loan_amount,funded_amount,investor_funds,term,interest_rate,installment,grade,sub_grade,home_ownership,annual_income,...,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
id,,,,,,,,,,,,,,,,,,,,,
145217616,10000,10000,10000,36 months,10.33%,324.23,B,B1,MORTGAGE,280000.0,...,4,91.3,0,0,367828,61364,20900,54912,N,N
145248657,4000,4000,4000,36 months,23.4%,155.68,E,E1,RENT,90000.0,...,9,95.0,0,0,98655,66926,21900,71555,N,N
145638579,5000,5000,5000,36 months,17.97%,180.69,D,D1,MORTGAGE,59280.0,...,0,100.0,0,0,136927,11749,13800,10000,N,N
145592722,23000,23000,23000,60 months,20.89%,620.81,D,D4,RENT,68107.0,...,3,100.0,0,0,7500,976,3300,0,N,N
144858623,8000,8000,8000,36 months,23.4%,311.35,E,E1,OWN,43000.0,...,2,100.0,1,0,199744,31078,2300,32206,N,N
145606176,32075,32075,32075,60 months,11.8%,710.26,B,B4,MORTGAGE,150000.0,...,2,100.0,0,0,360433,56635,20000,80125,N,N
145647242,9600,9600,9600,36 months,12.98%,323.37,B,B5,MORTGAGE,35704.0,...,0,95.5,0,0,6500,748,4200,0,N,N
145631930,30000,30000,30000,60 months,18.94%,777.23,D,D2,MORTGAGE,90000.0,...,6,95.0,1,0,372872,99468,15000,94072,N,N
145640422,2500,2500,2500,36 months,13.56%,84.92,C,C1,RENT,55000.0,...,3,100.0,1,0,60124,16901,36500,18124,N,N
145630143,12000,12000,12000,60 months,13.56%,276.49,C,C1,MORTGAGE,40000.0,...,3,100.0,0,0,50800,32462,36800,9000,N,N
145230614,10000,10000,10000,60 months,19.92%,264.50,D,D3,MORTGAGE,80000.0,...,1,84.2,0,0,170230,37606,8000,55030,N,N
145558466,16000,16000,16000,60 months,17.97%,406.04,D,D1,MORTGAGE,51000.0,...,3,77.8,0,0,67924,39339,29500,38424,N,N
145434168,16000,16000,16000,60 months,26.31%,481.99,E,E4,RENT,33000.0,...,1,100.0,0,0,45709,29869,13900,10809,N,N
145127870,15000,15000,14975,60 months,14.47%,352.69,C,C2,MORTGAGE,30000.0,...,1,100.0,0,0,118790,24507,9900,14490,N,N
145233976,13000,13000,13000,36 months,23.4%,505.95,E,E1,MORTGAGE,90000.0,...,1,100.0,0,0,137276,87876,58600,74676,N,N
145509846,9600,9600,9600,36 months,23.4%,373.62,E,E1,RENT,65000.0,...,1,90.0,0,0,68902,24165,7600,40402,N,N
145399386,3500,3500,3500,36 months,20.89%,131.67,D,D4,MORTGAGE,40000.0,...,3,38.9,0,0,217000,26902,5000,25000,N,N
145314731,25000,25000,25000,60 months,16.91%,620.11,C,C5,MORTGAGE,23878.0,...,0,100.0,0,0,92334,3044,1000,0,N,N
145636061,16000,16000,16000,60 months,20.89%,431.87,D,D4,MORTGAGE,120000.0,...,2,86.5,0,0,444217,266754,13500,239338,N,N
145642491,13000,13000,13000,60 months,14.47%,305.67,C,C2,MORTGAGE,75000.0,...,1,100.0,0,0,176598,50920,26700,50898,N,N
145626654,10000,10000,10000,36 months,13.56%,339.65,C,C1,MORTGAGE,65000.0,...,2,77.8,1,0,48052,45972,11500,34852,N,N
145411639,13000,13000,13000,36 months,14.47%,447.29,C,C2,MORTGAGE,55000.0,...,0,100.0,0,0,41150,13878,13900,1000,N,N
145613210,7000,7000,7000,36 months,12.98%,235.80,B,B5,MORTGAGE,102500.0,...,2,80.0,0,0,214624,76709,7200,96826,N,N
144846070,3300,3300,3300,36 months,23.4%,128.44,E,E1,RENT,49700.0,...,2,90.9,0,0,170985,166884,2800,162085,N,N
145543284,20000,20000,20000,60 months,11.8%,442.88,B,B4,MORTGAGE,47590.0,...,2,76.9,0,0,126400,14134,14800,0,N,N
144848444,3500,3500,3500,36 months,20.89%,131.67,D,D4,RENT,33190.0,...,0,92.3,0,0,14300,9812,4100,7000,N,N
145593397,12000,12000,12000,36 months,26.31%,485.48,E,E4,OWN,19000.0,...,0,100.0,0,0,24200,15094,10700,5100,N,N
145539851,30000,30000,30000,60 months,16.14%,731.78,C,C4,MORTGAGE,57250.0,...,5,92.3,0,0,157548,29674,9300,32332,N,N
144651857,4000,4000,4000,36 months,18.94%,146.51,D,D2,MORTGAGE,92000.0,...,3,100.0,0,0,385183,36151,5000,44984,N,N
145630887,5550,5550,5550,36 months,15.02%,192.45,C,C3,MORTGAGE,152500.0,...,4,100.0,0,0,831687,185378,65900,203159,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145309320,28000,28000,28000,36 months,12.98%,943.17,B,B5,MORTGAGE,75000.0,...,1,96.2,0,0,286038,35970,13700,42987,N,N
145106247,35000,35000,35000,36 months,12.98%,1178.96,B,B5,MORTGAGE,50000.0,...,0,60.0,0,0,169200,1247,3700,0,N,N
144967340,16000,16000,16000,36 months,19.92%,593.97,D,D3,RENT,64000.0,...,1,100.0,0,0,59875,44494,12300,47575,N,N
145310599,6000,6000,6000,36 months,14.47%,206.44,C,C2,MORTGAGE,37000.0,...,2,86.4,0,0,130723,4276,3000,0,N,N
144846551,16000,16000,16000,36 months,8.81%,507.39,A,A5,MORTGAGE,107000.0,...,0,100.0,1,0,64773,30808,15500,36973,N,N
144762361,12000,12000,11975,36 months,7.02%,370.64,A,A2,MORTGAGE,47400.0,...,0,81.8,0,0,111600,11400,7700,0,N,N
144850325,10800,10800,10800,36 months,26.31%,436.93,E,E4,MORTGAGE,50000.0,...,4,95.2,0,0,226006,47604,11800,32041,N,N
145232549,20000,20000,20000,36 months,10.72%,652.13,B,B2,MORTGAGE,95000.0,...,3,96.8,0,0,371363,86481,36500,73863,N,N
145298931,12000,12000,12000,36 months,11.31%,394.63,B,B3,MORTGAGE,120000.0,...,1,89.2,0,0,306774,45289,14600,34500,N,N
145285014,20000,20000,20000,60 months,11.31%,437.95,B,B3,RENT,50000.0,...,1,57.1,0,0,39025,36900,16600,13625,N,N
145278153,17000,17000,17000,36 months,10.33%,551.18,B,B1,MORTGAGE,34000.0,...,1,95.2,0,0,268378,41785,62700,16778,N,N
145244785,12000,12000,12000,60 months,22.35%,333.82,D,D5,RENT,72000.0,...,2,93.8,0,0,53844,34028,36700,13644,N,N
145201392,35000,35000,35000,36 months,7.56%,1089.69,A,A3,MORTGAGE,400000.0,...,3,78.3,0,0,784259,84562,43100,133159,N,N
145306512,7650,7650,7650,36 months,7.02%,236.28,A,A2,RENT,32000.0,...,1,100.0,0,0,42600,13196,33800,0,N,N
145267736,8400,8400,8400,36 months,16.14%,295.90,C,C4,MORTGAGE,52543.0,...,3,100.0,0,0,294645,6922,2600,0,N,N
145290707,30000,30000,30000,36 months,18.94%,1098.78,D,D2,RENT,42000.0,...,1,100.0,0,0,19700,11527,13800,0,N,N
145242101,30000,30000,30000,60 months,10.72%,648.10,B,B2,MORTGAGE,20000.0,...,0,100.0,0,0,618000,168439,70400,0,N,N
145202254,10000,10000,10000,36 months,10.72%,326.07,B,B2,OWN,48000.0,...,1,92.0,0,0,58300,12422,27300,0,N,N
144849256,15000,15000,15000,36 months,8.19%,471.37,A,A4,RENT,31000.0,...,2,100.0,0,0,76400,20098,56400,10000,N,N
145302350,7000,7000,7000,36 months,10.33%,226.96,B,B1,MORTGAGE,56000.0,...,10,93.8,1,0,49100,1187,300,0,N,N
145203293,28000,28000,28000,36 months,16.91%,997.03,C,C5,OWN,200000.0,...,1,97.2,0,0,261200,170393,139000,43000,N,N
145314155,5000,5000,5000,36 months,7.02%,154.44,A,A2,OWN,64800.0,...,2,95.8,0,0,107200,48823,78200,0,N,N
145249463,20000,20000,20000,60 months,18.94%,518.16,D,D2,MORTGAGE,80000.0,...,7,86.1,0,0,289769,81110,18700,68867,N,N
145307688,22900,22900,22900,36 months,8.81%,726.20,A,A5,RENT,24000.0,...,0,82.8,0,0,44536,28917,4800,34636,N,N
145129223,33000,33000,33000,36 months,8.19%,1037.00,A,A4,RENT,55000.0,...,2,77.8,0,0,100454,49189,26700,73754,N,N
145308247,10500,10500,10500,36 months,6.46%,321.63,A,A1,MORTGAGE,76000.0,...,0,100.0,0,0,371000,25412,13500,17500,N,N
144902753,12000,12000,12000,60 months,27.27%,368.37,E,E5,RENT,58000.0,...,3,97.7,1,0,125250,115346,4400,107250,N,N
145241817,1200,1200,1200,36 months,23.4%,46.71,E,E1,RENT,63400.0,...,1,96.4,0,0,70831,55228,5000,55831,N,N
145260817,20000,20000,20000,60 months,16.91%,496.09,C,C5,RENT,80000.0,...,2,100.0,0,0,83852,41208,53700,20000,N,N
145307280,10000,10000,10000,36 months,12.98%,336.85,B,B5,RENT,35000.0,...,2,100.0,0,0,45243,19501,17500,21643,N,N