In [78]:
import pandas as pd
import numpy as np
df= pd.read_csv('/Users/ankit/Desktop/Springboard dox/Python/2018_less.csv',low_memory=False)

In [79]:
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9998 entries, 0 to 9997
Columns: 150 entries, id to settlement_term
dtypes: float64(63), int64(57), object(30)
memory usage: 11.4+ MB
None

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,145217616,NaN,10000,10000,10000,36 months,10.33%,324.23,B,B1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,145248657,NaN,4000,4000,4000,36 months,23.4%,155.68,E,E1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,145638579,NaN,5000,5000,5000,36 months,17.97%,180.69,D,D1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,145592722,NaN,23000,23000,23000,60 months,20.89%,620.81,D,D4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,144858623,NaN,8000,8000,8000,36 months,23.4%,311.35,E,E1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
print(df.shape)

(9998, 150)

In [81]:
#Drop columns with data NaN

In [82]:
df=df.dropna(axis=1)

In [83]:
df.shape

(9998, 89)

In [84]:
df.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,...,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,145217616,10000,10000,10000,36 months,10.33%,324.23,B,B1,MORTGAGE,...,4,91.3,0,0,367828,61364,20900,54912,N,N
1,145248657,4000,4000,4000,36 months,23.4%,155.68,E,E1,RENT,...,9,95.0,0,0,98655,66926,21900,71555,N,N
2,145638579,5000,5000,5000,36 months,17.97%,180.69,D,D1,MORTGAGE,...,0,100.0,0,0,136927,11749,13800,10000,N,N
3,145592722,23000,23000,23000,60 months,20.89%,620.81,D,D4,RENT,...,3,100.0,0,0,7500,976,3300,0,N,N
4,144858623,8000,8000,8000,36 months,23.4%,311.35,E,E1,OWN,...,2,100.0,1,0,199744,31078,2300,32206,N,N

In [85]:
#rename the column names

df = df.rename(columns={"loan_amnt": "loan_amount", "funded_amnt": "funded_amount", "funded_amnt_inv": "investor_funds",
                       "int_rate": "interest_rate", "annual_inc": "annual_income"})

In [103]:
df.head()
print(type(df['interest_rate']))

<class 'pandas.core.series.Series'>

In [107]:
#removing percentage sign from the interest_rate
for items in df['interest_rate']:
    items= items.str.replace("%" , " ")
print(df['interest_rate'])

AttributeError: 'str' object has no attribute 'str'

In [ ]:
#remove months from term colums